@import "./navBar.scss";
@import "~roboto-font/css/fonts.css";
@import "./table.scss";
@import "./library";
@import "./create";

* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  min-height: 85vh;
}

.form_container {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  border-radius: 5px;
}


.btn {
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: $bleu ;
  color: #fff;
}

.secondary{
  color: #fff;
  background-color: $grey ;
};
.primary{
  color: #fff;
  background-color: $bleu ;
}
input[type=submit],input[type=reset]{
  border: none;
  cursor: pointer;
  font-size: 1rem;

}